.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }

.header {
  height: 93px;
  background: #FFFFFF;
}

.header__logotype a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 125px;
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background: #EDF2F7;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: auto;
  text-align: center;
  background: #FFFFFF;
  height: 415px;
  width: 610px;
}

.button {
  background: #4B9AE8;
}

.footer {
  height: 70px;
  text-align: center;
  background: #FFFFFF;
}

.footer__logo {
  color: blue;
}