body {
  height: 100vh;
  display: flex;
  flex-direction: column;
 }

.header {
  height: 93px;
}

.header_logotype a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* Как разместить логотип и название в одной строчке? */
}

main {
  display: flex;
  justify-content: center;
  flex: 1;
  background: #EDF2F7;
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  height: 415px;
  width: 610px;
}

form button {
  background: #4B9AE8;
}


.footer {
  height: 70px;
  text-align: center;
}

.footer span {
  color: blue;
}