.header__logotype a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;

  text-decoration: none;
}

.header__name {
  margin: 0 auto;
  margin-left: 16px;

  color: #131b23;
  font-weight: normal;

  font-size: 48px;
}
