@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  cursor: pointer;
}


.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  margin: 0;


  font-family: "Roboto";

  background: #edf2f7;
}
