.user-name {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
  
    color: #808284;
  
    font-size: 14px;
    text-align: left;
  }
  
  .user-name__field {
    width: 400px;
    height: 39px;
    margin: 0 auto;
    margin-top: 9px;
    padding-left: 18px;
  }